/* --------------------------------------- */
/* Mixins
/* --------------------------------------- */

.border-radius() {
	
	border-radius: 			4px;
	-moz-border-radius: 	4px;
	-webkit-border-radius: 	4px;
		
} // .border-radius

/* --------------------------------------- */
/* Styles
/* --------------------------------------- */

.wp-audio-player {

	width: 		0px;
	height: 	0px; 
	display:	block;
	
} // .wp-audio-player

.wp-audio-player-meta {

	display: none;
	
} // .wp-audio-player-length

.wp-audio-player-firefox {

	embed {

		height: 		15px;
		width:			100% !important;
		margin-bottom:	0 !important;
	
	} // embeds
	
} // .wp-audio-player-firefox

